<h1 style="font-size: 40px;" class="mb-4">My Courses</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Updated at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.updatedAt}}</td>
            <td class="edit-course">
                <a href="/courses/{{this._id}}/edit" class="update-course" style="margin-right: 20px;">Edit</a>
                <a href="" class="delete-course">Delete</a>
            </td>
        </tr>
    {{/each}}
  </tbody>
</table>